[General]
OISExportFile=<ROOT_SCRIPT_DIRECTORY>\ExampleRunbookv1.0.Scrubbed.ois_export
ReportExportPath=<ROOT_SCRIPT_DIRECTORY>\Reports\
PictureRepository=<ROOT_SCRIPT_DIRECTORY>\runbook_images\
CompanyLogo=<ROOT_SCRIPT_DIRECTORY>\icons\misc\company_logo.png
ShowNullorEmptyProperties=True

[Templates]
templateReport=<ROOT_SCRIPT_DIRECTORY>\Templates\SCORCH.Runbook.DetailsReport.template
PoshInfoTemplate=<ROOT_SCRIPT_DIRECTORY>\Templates\SCORCH.Runbooks.PoSH.Report.template
PoshPublishedDataTemplate=<ROOT_SCRIPT_DIRECTORY>\Templates\SCORCH.Runbooks.PoSH.PublishedData.template
LinkActivityTemplate=<ROOT_SCRIPT_DIRECTORY>\Templates\SCORCH.Runbooks.Link.Report.template
SQLInfoTemplate=<ROOT_SCRIPT_DIRECTORY>\Templates\SCORCH.Runbooks.SQLDBQuery.Report.template
GeneralActivityTemplate=<ROOT_SCRIPT_DIRECTORY>\Templates\SCORCH.Runbooks.GeneralActivity.Report.template
TableOfContentsHeader=<ROOT_SCRIPT_DIRECTORY>\Templates\SCORCH.Runbooks.TableOfContents-Beginning.template
TableOfContentsFooter=<ROOT_SCRIPT_DIRECTORY>\Templates\SCORCH.Runbooks.TableOfContents-Footer.template
CSSMenuTemplate=<ROOT_SCRIPT_DIRECTORY>\Templates\SCORCH.Runbooks.CSSMenu.template
JQueryMenuHighlightScript=<ROOT_SCRIPT_DIRECTORY>\Templates\jquery.maphilight.js

[CSS]
StyleSheetPath=<ROOT_SCRIPT_DIRECTORY>\Templates\style.css

[SQLConnectionInfo]
SCORCHDBServer=<NETBIOS_NAME_OF_SERVER>
DBIPADDRESS=<IP_ADDRESS_OF_SERVER>
DBNAME=Orchestrator
PORT=1433
SQLACCOUNT=
SQLPASSWORD=
INTEGRATEDAUTH=1